# Dependencies
node_modules/

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
/blob-report/

# System files
.DS_Store

# Environment
.env

# Разрешаем playwright-report в папке docs
!/docs/playwright-report/
